
.all{ width:1344px; margin:0 auto;}
.nav{ height:120px;}
.nav1{ height:40px; border:2px solid #9b7767; background:#372213;}
.nav1a{ height:40px; line-height:40px;}
.nav1a dt,dd{ height:24px; line-height:24px; margin-top:8px;border-right:1px solid #74472d;}
.nav1a a{ color:#fff; font-size:14px; padding-left:18px; padding-right:18px;}
.nav1aa a{ margin-left:185px; color:#eeb88c;}
.nav1ab{ margin-right:100px;}
.nav1ab a{ color:#a7815d; margin-right:100px;}
.nav3{ width:959px; height:60px;}
.nav4{ width:959px; height:311px; margin-top:26px;}
.nav4 a{ margin-right:11px;}
.nav5{ width:959px; margin-top:13px; height:152px;}
.nav6{ border-bottom:1px solid #ccc; width:959px; height:70px; background:url(../img/images/zhongjian_18.jpg) no-repeat 0 -1px;}
.nav6 a{ text-align:center; color:#787878; margin-top:43px; display:block; width:46px; height:14px; border-right: 1px solid #ccc;}
.nav7{ height:496px; width:959px; margin-top:16px;}
.nav7b{ margin-left:11px; width:634px;  height:496px;}
.nav8{ border-bottom:1px solid #ccc; width:959px; height:70px; background:url(../img/images/zhongjian_29.jpg) no-repeat 0 -12px;}
.nav8 a{ text-align:center; color:#787878; margin-top:43px; width:46px; height:14px; border-right: 1px solid #ccc;}
.nav9{ height:496px; width:959px; margin-top:16px;}
.nav9b{ margin-left:11px; width:634px; height:496px;}

.nav10{ border-bottom:1px solid #ccc; width:959px; height:70px; background:url(../%E5%A9%9A%E7%BA%B1%E6%91%84%E5%BD%B1%E7%B4%A0%E6%9D%90/%E5%8C%97%E4%BA%AC%E8%92%99%E5%A8%9C%E4%B8%BD%E8%8E%8E%E5%A9%9A%E7%BA%B1%E6%91%84%E5%BD%B1-%E5%8C%97%E4%BA%AC%E5%A9%9A%E7%BA%B1%E6%91%84%E5%BD%B1%E5%B7%A5%E4%BD%9C%E5%AE%A4_%E5%8C%97%E4%BA%AC%E5%A9%9A%E7%BA%B1%E5%BD%B1%E6%A5%BC_%E5%8C%97%E4%BA%AC%E5%A9%9A%E7%BA%B1%E7%85%A7_files/hometitle_08.gif) no-repeat 0 18px;}
.nav10 a{ text-align:center; color:#787878; margin-top:43px; width:46px; height:14px; border-right: 1px solid #ccc;}

.nav11{ height:810px; width:959px; margin-top:18px;}
.nav11 img{ margin-right:6px; margin-bottom:10px;}
.nav12{ width:959px; height:78px; border-bottom:1px solid #ccc; background:url(../%E5%A9%9A%E7%BA%B1%E6%91%84%E5%BD%B1%E7%B4%A0%E6%9D%90/%E5%8C%97%E4%BA%AC%E8%92%99%E5%A8%9C%E4%B8%BD%E8%8E%8E%E5%A9%9A%E7%BA%B1%E6%91%84%E5%BD%B1-%E5%8C%97%E4%BA%AC%E5%A9%9A%E7%BA%B1%E6%91%84%E5%BD%B1%E5%B7%A5%E4%BD%9C%E5%AE%A4_%E5%8C%97%E4%BA%AC%E5%A9%9A%E7%BA%B1%E5%BD%B1%E6%A5%BC_%E5%8C%97%E4%BA%AC%E5%A9%9A%E7%BA%B1%E7%85%A7_files/hometitle_11.gif) no-repeat 0 26px;;}
.nav12 a{ height:77px; padding-top:50px; color:#787878;}
.nav13{ width:959px; height:240px; margin-top:16px;}
.nav13a{ width:312px; }
.nav13 .nav13b{ width:626px; height:240px; margin-top:-32px; padding-left:20px;}
.nav13b h2{ color:#852112; font-size:17px; font-weight:bold; margin-bottom:10px;}
.nav13b p{ line-height:26px; color:#c87412;}
.nav13b a{ font-size:14px; color:#852112; padding-left:462px;}
.nav14{ height:238px; width:959px; margin-top:18px;}
.last{ height:56px; width:959px; border-bottom:1px solid #ccc;}
.last img{ margin-top:26px;}
.img3{ margin-left:380px;}
.img4{ margin-left:160px;}
.last1{ width:959px; margin-top:15px;}
.last1a{ width:472px; height:282px;}
.last1a a{ margin-right:3px;}
.last1b{ margin-left:15px;}
.last1c{ width:240px; height:282px; margin-left:10px;}
.last1c li{ font-size:14px; line-height:30px;}
.last1c li a{ color:#787878;}
.last1c li:hover a{ color:#634d41;}
.last2{ width:959px; height:50px; border-bottom:1px solid #ccc;}
.last2 a{ margin-top:19px; color:#c9c9ba;}
.last2 .al{ margin-top:25px;}
.last3{ height:76px; width:959px;}
.last3 a{ margin-top:18px; color:#83471d; margin-right:27px;}




